@import 'src/assets/settings/colors';

.s-bill {
  &__wrapper {
    display: grid;
    padding: 50px 100px ;
    grid-template-columns: 30% 70%;
    grid-column-gap: 30px;
  }
  &__list {
    height: 195px;
    overflow: hidden;
    overflow-y: inherit;
    font-size: 16px;
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      margin-right: 10px;
    }
  }
  &__img {
    width: 40px;
  }
  &__icon {
    width: 22px;
  }
  &__table {
    border-collapse: separate;
    border-spacing: 0 10px;
    &-rows {
      box-shadow: lightgrey 0 3px 7px;
      border-radius: 10px;
    }
    &-data {
      width: 300px;
      text-align: center;
      padding: 5px;
      &-input {
        width: 37px;
        border: none;
        border-bottom: 1px solid $black;
        outline: none;
      }
    }
    &-body {
      display: block;
      overflow: hidden;
      overflow-y: inherit;
      /*height: 489px;*/
      height: 325px;
      padding: 5px;
      border-bottom: 2px solid $black;
      margin-bottom: 10px;
    }
    &-header {
      display: block;
      &-item {
        padding: 10px;
        width: 300px;
        border-bottom: 2px solid $black;
        margin-bottom: 10px;
      }
    }
    &-total {
      display: flex;
      width: 200px;
      justify-content: space-between;
      align-items: center;
    }
    &-add-button {
      background-color: $green;
      color: $white;
      box-shadow: none;
      transition: background-color .4s;
      &:hover {
        background-color: $green-h;
      }
    }
    &-delete-button {
      background-color: $red;
      color: $white;
      box-shadow: none;
      transition: background-color .4s;
      &:hover {
        background-color: $red-h;
      }
    }
    &-submit-button {
      color: $white;
      background-color: $black;
      float: right;
      transition: background-color .4s;
      &:hover {
        background-color: $black-h;
      }
    }
    &-total {
      display: flex;
      width: 200px;
      justify-content: space-between;
      align-items: center;
      float: right
    }
  }
  &__card-wrapper {

  }
  &__card-title {
    text-align: center;
    margin-bottom: 10px;
  }
  &__search-input {
    display: block;
    width: 14vw;
    margin: 15px auto;
    border: none;
    border-bottom: 1px solid $black;
    outline: none;
  }
}
