<div class="s-bill__wrapper">
  <div>
    <mat-card class="s-bill__card-wrapper">
      <mat-card-title>
        <p class="s-bill__card-title">Employees</p>
      </mat-card-title>
      <label>
        <input class="s-bill__search-input"
               placeholder="Поиск"
               name="searchInput"
               #searchInput="ngModel"
               [(ngModel)]="searchText">
      </label>
      <mat-card-content>
        <ul class="s-bill__list">
          <ul *ngFor="let item of employees">
            <li *ngIf="filterCondition(item)"
                class="s-bill__list-item">
              <img class="s-bill__img"
                   src="{{item.img}}"
                   alt="avatar"> {{item.name}}
              <button mat-mini-fab
                      class="s-bill__table-add-button"
                      (click)="addToBill(item)">
                <img class="s-bill__icon"
                     src="assets/img/plus-icon-round.svg">
              </button>
            </li>
          </ul>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <table class="s-bill__table">
      <thead class="s-bill__table-header">
        <th class="s-bill__table-header-item">Employee</th>
        <th class="s-bill__table-header-item">Rate</th>
        <th class="s-bill__table-header-item">Quantity hours</th>
        <th class="s-bill__table-header-item">Action</th>
      </thead>
      <tbody class="s-bill__table-body">
      <tr *ngFor="let item of bill"
          class="s-bill__table-rows">
        <td class="s-bill__table-data">{{item.name}}</td>
        <td class="s-bill__table-data">
          <label>
            <input class="s-bill__table-data-input"
                   type="number"
                   [(ngModel)]="item.rate"> ч.
          </label>
        </td>
        <td class="s-bill__table-data">
          <label>
            <input class="s-bill__table-data-input"
                    type="number"
                    [(ngModel)]="item.quantity"> $
          </label>
        </td>
        <td class="s-bill__table-data">
          <button mat-mini-fab
                  class="s-bill__table-delete-button"
                  (click)="removeFromBill(item)">
            <img class="s-bill__icon"
                 src="assets/img/minus-icon-round.svg">
          </button>
        </td>
      </tr>
      </tbody>
      <button mat-raised-button
              class="s-bill__table-submit-button"
              (click)="sendBill.emit()">Send</button>
    </table>
  </div>
</div>
<button mat-flat-button
        color="primary"
        (click)="clockifyApiResponse.emit()">test clockify api</button>
<button mat-flat-button
        color="warn"
        (click)="invoicelyApiResponse.emit()">test invoicely</button>
