<app-header></app-header>
<s-bill [employees]="employees"
        [bill]="bill"
        [searchText]="searchText"
        (pushToBill)="pushToBill()"
        (clockifyApiResponse)="clockifyApiResponse()"
        (invoicelyApiResponse)="invoicelyApiResponse()"
        (sendBill)="sendBill()"></s-bill>

